body {
  width: 100%;
  height: 100%;
  font-size: 16px; }

html {
  width: 100%;
  height: 100%; }

@media (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    overflow: hidden; }
  .top-nav-collapse {
    padding: 0; }
  .intro-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; }
  .about-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; }
  .services-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; }
  .contact-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; } }

.landing-page .intro-text {
  text-decoration: underline;
  font-weight: 200px; }

.landing-page #intro-name {
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1s; }

.products-section {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #001335;
  overflow: hidden; }
  .products-section h1 {
    color: white;
    font-weight: bold; }
  .products-section h3 {
    color: white;
    font-weight: bold; }
  .products-section h4 {
    color: white;
    font-weight: bold; }
  .products-section p {
    color: white; }
  .products-section a {
    color: lightblue; }
  .products-section #firstbtn {
    margin-top: 40px;
    color: white !important; }
  .products-section .science-img {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }
  .products-section .business-img {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }
  .products-section .automation-img {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }

.product-page {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #ffffff;
  overflow: hidden; }
  .product-page h1 {
    color: black;
    font-weight: bold; }
  .product-page h3 {
    color: black;
    font-weight: bold; }
  .product-page h4 {
    color: black;
    font-weight: bold; }
  .product-page p {
    color: black; }
  .product-page #firstbtn {
    margin-top: 40px;
    color: white; }
  .product-page .science-img {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }
  .product-page .business-img {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }
  .product-page .automation-img {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }

.about-section {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background: #ffffff; }
  .about-section h1 {
    color: black; }
  .about-section h2 {
    color: black; }
  .about-section p {
    color: black; }
  .about-section #second-btn {
    margin-top: 40px; }
  .about-section .img {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }
  .about-section .img2 {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }
  .about-section .img3 {
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 10px; }

.services-section {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #ffffff; }
  .services-section h1 {
    color: black; }
  .services-section h2 {
    color: black; }
  .services-section p {
    color: black; }
  .services-section #third-btn {
    margin-top: 40px; }

.contact-section {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background: #001335; }
  .contact-section h1 {
    text-align: center;
    color: white; }
  .contact-section h3 {
    color: white; }
  .contact-section h4 {
    color: white; }
  .contact-section #contact-btn {
    margin-top: 40px; }
  .contact-section h5 {
    color: white; }
  .contact-section p {
    color: white; }
  .contact-section .contact-header {
    font-size: 60px; }
  .contact-section .externalLink {
    color: white;
    text-decoration: underline; }

.technologies-section {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: url(../img/edited_code.png) 80%;
  background-size: cover; }
  .technologies-section h1 {
    text-align: center;
    margin-bottom: 5%;
    color: white;
    font-family: "Saira", sans-serif; }
  .technologies-section h3 {
    color: white;
    font-family: "Saira", sans-serif; }
  .technologies-section #contact-btn {
    margin-top: 40px; }
  .technologies-section h5 {
    color: white;
    font-family: "Saira", sans-serif; }
  .technologies-section p {
    color: white;
    font-family: "Saira", sans-serif; }
  .technologies-section .list-group {
    font-size: 22px;
    font-family: 'Saira', sans-serif; }

.email {
  color: white;
  text-decoration: underline; }
