body {
  width: 100%;
  height: 100%;
  font-size: 16px !important; }

html {
  width: 100%;
  height: 100%; }

@media only screen and (min-width: 320px) {
  body {
    font-size: 14px; }
  .landing-page #intro-name {
    font-size: 2.0em;
    padding: 16px; }
  .landing-page .intro-message {
    padding-bottom: 9%; }
  .products-section .science-img {
    height: 185px !important; }
  .products-section .business-img {
    height: 185px !important; }
  .products-section .automation-img {
    height: 185px !important; }
  .contact-section .contact-header {
    font-size: 40px !important;
    padding: 10px; }
  .contact-section #contact-btn {
    margin-bottom: 10px; }
  .contact-section h4 {
    font-size: 14px; }
  .product-page h1 {
    font-size: 24px; }
  .product-page h3 {
    font-size: 20px;
    margin: 0 10px 10px; }
  .product-page p {
    margin: 0 10px 10px; }
  .product-page .science-img {
    height: 185px !important; }
  .product-page .business-img {
    height: 185px !important; }
  .product-page .automation-img {
    height: 185px !important; }
  .product-page .coming-soon {
    height: 185px !important; }
  .products-section h1 {
    font-size: 32px; }
  .products-section-2 h1 {
    font-size: 28px; }
  .company-section h1 {
    font-size: 32px; }
  .company-section h2 {
    font-size: 28px; }
  .services-section h1 {
    font-size: 32px; }
  .about-section .silhouette {
    height: 85px !important; }
  .about-section h1 {
    font-size: 32px; }
  .about-section h2 {
    font-size: 27px; }
  .about-section h3 {
    font-size: 21px; }
  .technologies-section h1 {
    font-size: 32px; }
  .technologies-section .list-group-item {
    font-size: 20px; } }

@media only screen and (min-width: 767px) {
  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    overflow: hidden; }
  .top-nav-collapse {
    padding: 0; }
  .landing-page h1 {
    margin-top: 20px !important; }
  .intro-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; }
  .about-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; }
    .about-section #first-btn {
      margin-bottom: 10px;
      margin-top: 10px; }
  .products-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; }
    .products-section img {
      height: 150px !important; }
    .products-section .science-img {
      margin-top: 7px;
      margin-bottom: 10px; }
    .products-section .business-img {
      margin-top: 7px;
      margin-bottom: 10px; }
    .products-section .automation-img {
      margin-top: 7px;
      margin-bottom: 10px; }
    .products-section #first-btn {
      margin-bottom: 10px !important;
      margin-top: 10px !important; }
  .services-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; }
  .contact-section {
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden; } }

.navbar-toggle {
  margin-right: 28px; }

.landing-page .intro-text {
  text-decoration: underline;
  font-weight: 200px; }

.landing-page #intro-name {
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 1s;
  margin-top: 5%; }

.products-section {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #001335;
  overflow: hidden; }
  .products-section h1 {
    color: white;
    font-weight: bold; }
  .products-section h3 {
    color: white;
    font-weight: bold; }
  .products-section h4 {
    color: white;
    font-weight: bold; }
  .products-section p {
    color: white; }
  .products-section a {
    color: lightblue; }
  .products-section #first-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff; }
  .products-section .science-img {
    margin-top: 7px;
    margin-bottom: 10px; }
  .products-section .business-img {
    margin-top: 7px;
    margin-bottom: 10px; }
  .products-section .automation-img {
    margin-top: 7px;
    margin-bottom: 10px; }

.products-section-2 {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #001335;
  overflow: hidden; }
  .products-section-2 h1 {
    color: white;
    font-weight: bold; }
  .products-section-2 h3 {
    color: white;
    font-weight: bold; }
  .products-section-2 h4 {
    color: white;
    font-weight: bold; }
  .products-section-2 p {
    color: white; }

.product-page {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #ffffff;
  overflow: hidden; }
  .product-page h1 {
    color: black;
    font-weight: bold; }
  .product-page h3 {
    color: black;
    font-weight: bold; }
  .product-page h4 {
    color: black;
    font-weight: bold; }
  .product-page p {
    color: black; }
  .product-page #firstbtn {
    margin-top: 40px;
    color: white; }
  .product-page .science-img {
    margin-top: 7px;
    margin-bottom: 10px; }
  .product-page .business-img {
    margin-top: 7px;
    margin-bottom: 10px; }
  .product-page .automation-img {
    margin-top: 7px;
    margin-bottom: 10px; }
  .product-page .list_item_margin {
    margin-left: 3%; }
  .product-page .list_top_margin {
    margin-top: 0.5%; }

.about-section {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background: #ffffff; }
  .about-section h1 {
    color: black; }
  .about-section h2 {
    color: black; }
  .about-section p {
    color: black; }
  .about-section #first-btn {
    margin-top: 20px;
    margin-bottom: 20px; }

.services-section {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #ffffff; }
  .services-section h1 {
    color: black; }
  .services-section h2 {
    color: black; }
  .services-section p {
    color: black; }
  .services-section #first-btn {
    margin-top: 20px;
    margin-bottom: 20px; }

.contact-section {
  height: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background: url(../img/contact.jpg) 80%;
  background-size: cover; }
  .contact-section h1 {
    text-align: center;
    color: white; }
  .contact-section h3 {
    color: white; }
  .contact-section h4 {
    color: white; }
  .contact-section #contact-btn {
    margin-top: 5px; }
  .contact-section h5 {
    color: white; }
  .contact-section p {
    color: white; }
  .contact-section .contact-header {
    font-size: 60px; }

.email {
  color: white;
  text-decoration: underline;
  margin-top: 2px; }

.company-section {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: #001335;
  overflow: hidden; }
  .company-section h1 {
    color: white;
    font-weight: bold; }
  .company-section h2 {
    color: white;
    font-weight: bold; }
  .company-section h3 {
    color: white;
    font-weight: bold; }
  .company-section h4 {
    color: white;
    font-weight: bold; }
  .company-section p {
    color: white; }
  .company-section a {
    color: lightblue; }

.technologies-section {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  background: url(../img/edited_code.png) 80%;
  background-size: cover; }
  .technologies-section h1 {
    text-align: center;
    margin-bottom: 5%;
    color: white; }
  .technologies-section h3 {
    color: white; }
  .technologies-section h5 {
    color: white; }
  .technologies-section p {
    color: white; }
  .technologies-section .list-group {
    font-size: 22px; }
