
$contactbg: #004694;
$aboutbg: #004694;
$introbg: #ffffff;
$servicesbg: #ffffff;
$textcolour: white;
$textcolourinverse: black;

body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        overflow:hidden;
    }

    .top-nav-collapse {
        padding: 0;
    }

    .intro-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
    }

    .experience-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
    }

    .services-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
    }

    .contact-section {
      padding-top: 5%;
      padding-bottom:5%;
      overflow:hidden;
    }
}

.landing-page {

  .intro-text {
    text-decoration:underline;
    font-weight:200px;
  }

  #intro-name {
    -webkit-animation-delay: 1.5s;
    -webkit-animation-duration: 1s;
  }
}

.products-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $introbg;
    overflow:hidden;

    h1{
      color: $textcolourinverse;
    }
    h2 {
      color: $textcolourinverse;
    }
    p {
      color:$textcolourinverse;
    }

    #firstbtn {
      margin-top:40px;
    }

    .science-img {
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;
    }

    .business-img {
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;
    }

    .automation-img {
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;
    }
}

.experience-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $aboutbg;


    h1{
      color:$textcolour;
    }

    h2 {
      color:$textcolour;
    }

    p {
      color:$textcolour;
    }

    #second-btn {
      margin-top:40px;
    }

    .img{
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;

    }
    .img2 {
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;
    }

    .img3 {
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;
    }
}


.services-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $servicesbg;


    h1 {
      color:$textcolourinverse;
    }

    h2 {
      color:$textcolourinverse;
    }

    p {
      color:$textcolourinverse;
    }
    #third-btn {
      margin-top:40px;
    }
    .img{
      border-radius:50%;
      margin-top:7px;
      margin-bottom:10px;
    }
    .img2{
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;

    }
    .img3 {
      border-radius:50%;
      margin-top: 7px;
      margin-bottom: 10px;
    }
}

.contact-section {
    height: auto;
    padding-top: 5%;
    padding-bottom:5%;
    text-align: center;
    background: $contactbg;

    h1 {
      text-align: center;
      margin-top: 5%;
      color:$textcolour;
    }

    h3 {
      color:$textcolour;
    }

    #contact-btn {
      margin-top:40px
    }

    h5 {
      color:$textcolour;
    }

    .contact-header {
      font-size:60px;
    }

    .externalLink {

        color:white;
        text-decoration:underline;

    }
}

.email{
  color:white;
  text-decoration: underline;
}

.contact-us-page {
  height: auto;
  padding-top: 5%;
  padding-bottom:5%;
  text-align: center;
  margin-top: 5%;

  h1 {
    text-align: center;
    margin-top: 5%;
    color:$textcolourinverse;
  }

  h3 {
    color:$textcolourinverse;
  }

  h5 {
    color:$textcolourinverse;
  }

  p {
    color:$textcolourinverse;
  }

  .contact-header {
    font-size:60px;
  }
}
